@import "main.css";

body{
    background: #f6f6f8;
}

img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#header{
    display: flex;
    height: 40px;
    padding-top: 10px;
    background:#37393c;
    color: white;
}

#header i{
    color:#00c2b3;
}

#header > .C1{
    margin-left: 40px;
    flex: auto;
    font-size: 20px;
}

.C1 > i{
    font-size: 26px;
}

#header > .C2{
    margin-left: 100px;
    margin-right: 40px;
    padding-top: 5px;
}

.C3{
    margin-right: 40px;
}

#body{
    background: white;
    width: 1000px;
    height: auto;
    margin-top: 60px;
    border: 2px solid gainsboro;
    border-radius: 10px;
    margin-left: 240px;
}

.top{
    margin: 20px 0 20px 20px;
}

h1{
    color: #38ada9;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.top > span{
    color: tomato;
    font-size: 24px;
}

.top > p{
    color: #9fa3b0;
}

.middle > div, .bottom{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.DescText > p:nth-child(1), .OpDuty > p:nth-child(1), .Loc > p:nth-child(1), .ComIntro > p:nth-child(1){
    font-weight: 700;
}

.DescText > p:nth-child(2), .OpDuty > p:nth-child(2), .Loc > p:nth-child(2), .ComIntro > p:nth-child(2){
    height: 2px;
    background: #00c2b3;
    width: 20px;
    margin: 10px 0 10px 0;
}

#JobDescription, #OperatingDuty, #CompanyIntro{
    color: #7f8594;
    text-indent: 2em;
}

.Loc > div{
    height: 32px;
    width: 600px;
    line-height: 32px;
    margin-top: 20px;
    border: 2px solid white;
    box-shadow: -2px -2px 10px 10px whitesmoke;
}

.Loc > div > i{
    color: #00c2b3;
}
#location{
    display: inline-block;
}

.top > button{
    outline: none;
    position: relative;
    left: 500px;
    top: -10px;
    /* margin-left: 700px; */
    border: 1px solid white;
    background: #5dd5c8;
    width: 180px;
    color: white;
}

.top > button > input{
    opacity: 0;
}