@import "main.css";

body {
    background-color:#f6f6f8;
}

img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#header1{
    height: 40px;
    background-color:rgb(56, 57, 61);
    padding-top: 10px;
    color: white;   
}

#header1 i{
    color: #00c2b3;
}

#header1 > .C1{
    display: inline;
    margin-left: 40px;
    font-size: 20px;
    padding-top: 5px;
}

.C1 > i{
    font-size: 26px;
}

#header1 > .C2{
    display: inline;
    float: right;
    margin-right: 40px;
    padding-top: 5px;
}

#header1 > .C3{
    display: inline;
    float: right;
    margin-right: 40px;
}

#header2{
    background-color: #38ada9;
    height: 140px;
    color: white;
    line-height: 140px;
}

#header2 > i{
    font-size: 40px;
    color: white;
    margin-left: 120px;
}

h1,h2{
    display: inline-block;
}

h1{
    margin-left: 360px;
    position: relative;
}

#middle {
    width: 1650px;
}

div #left {
    position: relative;
    width: 300px;
    height: 360px;
    margin-left: 100px;
    margin-top: 40px;
    background: white;
}

#up{
    height: 40px;
    padding: 20px;
    padding-left: 60px;
    color: #38ada9;
}

#top{
    position: relative;
    width: 1000px;
    height: 420px;
    margin-left: 100px;
    margin-top: 40px;
    background: white;
    border: 2px solid gainsboro;
    border-radius: 10px;
}

#left,#right{
    display: inline-block;
    vertical-align:top;
}

#top > h2{
    color: #38ada9;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#top p{
    color: #38ada9;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
}

#top i{
    color: #38ada9;
    display: inline-block;
}

#input1 > div{
    margin-bottom: 10px;
    margin-left: 120px;
    display: inline-block;
}

#input1 >  div > div{
    width: 300px;
    height: 40px;
    border: 1px solid #9fa3b0;
}

#input1 input{
    /* pointer-events: none; */
    outline: none;
    height: 28px;
    border: none;
    width: 200px;
}

#UserEdu{
    /* pointer-events: none; */
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
}

#JobSS{
    /* pointer-events: none; */
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
}


form > div:nth-child(2) > button{
    width: 160px;
    height: 36px;
    border: none;
    color: white;
    background: #00d7c6;
    cursor: pointer;
    outline: none;
}

#button1{
    margin-bottom: 10px;
    margin-left: 120px;
    display: inline-block;
}

#button1 input{
    display: none;
    width: 160px;
    height: 36px;
    border: none;
    color: white;
    background: #00d7c6;
    cursor: pointer;
    outline: none;
}

#bottom{
    position: relative;
    width: 1000px;
    margin-left: 100px;
    margin-top: 80px;
}

#bottom > h2{
    color: #38ada9;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}

#bottom > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    background: white;
    border: 2px solid gainsboro;
    border-radius: 10px;
}

.JobTitle, .CpName, .ReleaseTime, .ResumeStatus{
    color: #38ada9;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
}
